@import '../index';

.container {
    @include flex(space-evenly, center, column);
    @include text(1.125rem, 1.5rem, unset);
    font-style: normal;
    background-color: $white;
    max-width: 600px;
    width: 100%;
    margin: 8rem auto 0;
    padding: 0.5rem 0;
    height: 28rem;
    text-align: center;

    .logo {
        @include flex(center, center);
        border-radius: 50%;
        border: 2px solid $light-blue;
        padding: 0.75rem;

        img {
            width: 85%;
            height: 80%;
        }
    }

    .main {
        @include text(1.5rem, 1.5rem, 700, $dark-text);
        text-transform: uppercase;
    }

    .description {
        width: 60%;
        text-align: justify;
    }
}