@import './../index';

.container {
    @include flex(space-between, unset);
    padding: 0 5rem;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $gray;
    min-height: 4.5rem;
    color: $dark-text;
    background-color: $background;

    .logo {
        @include flex(center, center);
        @include text(1.5rem, 1.5rem, unset, $dark-text);
    }

    .selected {
        color: $dark-blue !important;
    }

    .navigation {
        @include flex(center, center);
        column-gap: 1.5rem;
        font-weight: 500;

        .search {
            @include flex(center, center);
            background-color: $search;
            align-self: stretch;
            width: 5rem;

            img {
                width: 30%;
                height: 30%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0 5%;

        .navigation {
            @include flex(center, center);
            column-gap: 0.75rem;
            font-weight: 500;

            .search {
                @include flex(center, center);
                background-color: $search;
                align-self: stretch;
                width: 2.5rem;

                img {
                    width: 40%;
                    height: 30%;
                }
            }
        }
    }
}